body {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 0;
    background-color: #000;
}
h1 {
    color: #fff;
    text-align: center;
}
h2 {
    color: #fff;
    text-align: center;
}
p {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
main {
    max-width: 800px;
    min-height: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #111;
    border-radius: 8px;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.scrollableX {
    width: 100%;
    overflow-x: auto;
}   

.levelContainer {
    border-collapse: separate;
    border-spacing: 10px;
    min-width: max-content;
}

.levelButton {
    min-width: 100px;
    height: 100px;
    background-color: black;
    border: 10px solid white;
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: white;
}

.levelButton:hover {
    background-color: #555;
}